/*line color: #ced2d2;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

/*===MAIN NAV===*/
.main-nav-container {
  /*height: 195vh;*/
  width: 15vw;
  display: flex;
  flex-wrap: wrap;
  float: left;
  display: inline-block;
  background-color: #343f56;
}

.main-nav-box {
  display: block;
  border-bottom:1px solid #222938;
}

.name {
  height: 185px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 90px;
  height: auto;
  border-radius: 50%;
}

.profile-name-container {
  position: relative;
  width: 130px;
}

.profile-name {
  font-size: 80%;
  margin-top: 15px;
  color: #eff4f7;
  display: inline-block;
}

.name-arrow {
  color: white;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 0;
}

.main-menu {
  height: 215px;
  width: 15vw;
}

.main-nav-ul,
.admin-nav-ul,
.admin-nav-ul {
  height: 215px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: #eff4f7;
  font-size: 80%;
}

.main-nav-li,
.admin-nav-li {
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 90%;
  padding: 11px;
  margin-left: 0;
  border-left: 2px solid #343f56;
}

.main-nav-li:hover,
.admin-nav-li:hover,
.categories-nav-li:hover {
  background-color: #222938;
  color: #fff;
  border-left: 2px solid #07adf9;
}

.main-nav-li:first-child {
  margin-top: 10px;
}

.main-nav-link p {
  color: #eff4f7;
}

.main-nav-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.main-nav-link:hover {
  color: red;
}

.main-nav-link p {
  padding-right: 8px;
}

.categories-nav-li {
  font-size: 100%;
  font-weight: 700;
  padding: 10px;
  margin-left: 0;
  color: #eff4f7;
  border-left: 2px solid #343f56;
}

.admin-menu {
  height: 215px;
  width: 15vw;
}

.admin-nav-li:first-child {
  margin-top: 10px;
}
.categories-menu {
  height: 563px;
  width: 15vw;
}

.categories-nav-li:first-child {
  margin-top: 10px;
}
.categories-nav-li p {
  display: inline-block;
  margin-left: 8px;
}

.square-icon {
  height: 10px;
  width: auto;
  display: inline-block;
}

/*===MAIN==*/

main {
  float: right;
  display: inline-block;
  width: 85vw;
}

/*===SEARCH BAR NAV===*/

.search-bar-nav {
  height: 75px;
  display: inline-block;
  margin: -2px 0 -2px 0;
  width: 85vw;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d4d8d8;
}

.left-search-nav {
  float: left;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.search-hamburger {
  border-right: 1px solid #d4d8d8;
}

.search-input {
  height: 75px;
  width: 57vw;
  display: inline-block;
  display: flex;
  align-items: center;
  border-right: 1px solid #d4d8d8;
}

.search-text {
  color: #929797;
  margin-left: -10px;
}

.right-search-nav {
  height: 75px;
  width: 21vw;
  float: right;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.search-profile {
  border-right: 1px solid #d4d8d8;
}

.search-calendar {
  border-right: 1px solid #d4d8d8;
}

.search-calendar,
.search-options,
.search-hamburger,
.search-profile {
  height: 75px;
  width: 7vw;
  display: inline-block;
  margin: 0 0 -2px 0;
}

.icon-hamburger,
.icon-search,
.icon-user,
.big-calendar,
.icon-sweden {
  font-size: 26px;
  color: #929797;
  height: 75px;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-search {
  margin-left: -10px;
}

.icon-hamburger:hover,
.icon-user:hover,
.big-calendar:hover,
.icon-sweden:hover {
  color: #fff;
  background-color: #07adf9;
}

/*===DASHBOARD TOP===*/
.dashboard-top {
  height: 168px;
  width: 85vw;
  display: inline-block;
  margin: 0 0 -2px 0;
}

.upper-dashboard-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-title-container {
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  margin-top: 25px;
  display: inline-block;
  margin-left: 30px;
}

.dashboard-title {
  margin-bottom: 10px;
  color: #5b5e5e;
}

.location-container {
  display: flex;
  flex-direction: row;
}

.icon-location {
  font-size: 12px;
  padding-right: 4px;
  color: #5B5E5E;
}

.dashboard-location {
  font-size: 12px;
  color: #808484;
}

.dashboard-preview {
  color: #4EB8BF;
  font-size: 12px;
  padding-left: 4px;
}

.horiz-nav {
  text-transform: uppercase;
  font-size: 75%;
  font-weight: 700;
  padding-bottom: 10px;
  padding-right: 0;
  margin-left: 35px;
  color: #5B5E5E;
}

.horiz-nav:hover {
  border-bottom: 5px solid #07adf9;
}

.dashboard-btns {
  display: flex;
  flex-direction: row;
}

.open-btn,
.flag-btn,
.edit-btn,
.home-btn {
  height: 30px;
  margin: 4px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-btn {
  width: 83px;
  height: 36px;
  flex-direction: row;
  border: 1px solid #929797;
  border-radius: 25px;
  position: relative;
}

.icon-dot {
  color: #2eaa25;
  font-size: 250%;
  position: absolute;
  top: -2px;
  left: 0;
}

.open-btn-text {
  text-transform: uppercase;
  font-size: 75%;
  font-weight: 700;
  padding-left: 10px;
  color: #808484;
}

.flag-btn,
.edit-btn,
.home-btn {
  width: 36px;
  border: 1px solid #929797;
  border-radius: 50%;
  height: 36px;
}

.flag-btn:hover,
.edit-btn:hover,
.home-btn:hover {
  background-color: #d4d8d8;
}

.home-btn {
  margin-right: 45px;
}

.icon-bookmark,
.icon-edit,
.icon-cloud {
  font-size: 90%;
  color: #808484;
}

.hidden-btn {
  display: none;
}

.dashboard-menu {
  padding-top: 30px;
}

li {
  display: inline-block;
  padding-right: 15px;
  margin-left: 30px;
}

.more-nav {
  display: none;
}

.nav1 {
  padding-left: 5px;
}

.divider {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 35px;
}

.hr-left,
.hr-right {
  width: 55%;
  height: 1px;
  color: #929797;
}

.hr-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  border: 1px solid #929797;
}

/*===DASHBOARD BOTTOM===*/
.content-1 {
  height: 315px;
  width: 85vw;
  display: inline-block;
  margin: -2px 0 -2px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eff4f7;
  border-top: 1px solid #EFF3F6;
  padding-top: 15px;
}

.circle-graph-section,
.bar-graph-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-graph {
  height: 140px;
  width: 430px;
  display: flex;
  flex-direction: row;
  margin: 40px 0 30px 0;
}

.circle-graph-1 {
  border: 10px solid #fff;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border-color: #4eb8bf #4eb8bf #4eb8bf #fff;
  border-width: 10px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-graph-2 {
  border: 10px solid #fff;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border-color: #fff #07adf9 #07adf9 #07adf9;
  border-width: 10px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-graph-3 {
  border: 10px solid #fff;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border-color: #9e16cc #9e16cc #9e16cc #fff;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-graph-num {
  font-size: 175%;
  color: grey;
}

.circle-graph-word {
  font-size: 75%;
  color: grey;
}

.circle-graph-btn {
  height: 28px;
  width: 153px;
}

.circle-graph-btn,
.bar-graph-btn {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 15px;
  color: grey;
}

.circle-graph-btn:hover,
.bar-graph-btn:hover {
  background-color: #d4d8d8;
}

.bar-graph-btn {
  height: 28px;
  width: 118px;
  text-transform: uppercase;
}

.bar-graph {
  margin: 30px 0 30px 0;
  background-image: url(/Users/amyholt/mod1/static-comp-3/assets/img/bar-graph.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 375px;
}

.content-bottom {
  width: 85vw;
  height: 660px;
  display: inline-block;
  margin: -2px 0 -2px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eff4f7;
}

.content-2 {
  width: 70%;
  height: 660px;
  display: inline-block;
  margin: -2px 0 -2px 0;
  display: flex;
  justify-content: center;
}

.job-table {
  width: 90%;
  border-spacing: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 45px;
  border-radius: 3px;
}

td, th {
  padding: 21px 5px 21px 10px;
  margin-left: 10px;
}

th {
  background-color: #595F6A;
}

td {
  background-color: #fff;
  border-bottom: 1px solid #d4d8d8;
  color: #5B5E5E;
}

tr {
  width: 90%;
  margin-left: 5px;
}

.bottom-td {
  border-bottom: none;
}

.td-edit-btn {
  width: 90px;
  height: 30px;
  border-radius: 3px;
  background-color: #757983;
  border: none;
  display: inline-block;
  float: left;
}

.td-edit-btn:hover {
  background-color: #989BA2;
}

.job-description {
  color: #fff;
  padding-left: 10px;
  text-align: left;
  letter-spacing: 1px;
}

.td-edit-btn-text {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 5px;
  display: inline-block;
  color: #fff;
}

.td-edit-btn-icon {
  display: inline-block;
  font-size: 14px;
  color: #fff;
}

.td-topic {
  text-transform: uppercase;
  font-size: 75%;
  margin-left: 10px;
}

.left-col,
.right-col {
  width: 20px;
  border-bottom: none;
  background-color: #fff;
}

.left-col {
  border-radius: 0 0 0 3px;
}

.right-col {
  border-radius: 0 0 3px 0;
}

.left-col-header,
.right-col-header {
  width: 20px;
  border-bottom: none;
}

.right-col-header {
  border-radius: 0 3px 0 0 ;
}

.left-col-header {
  border-radius: 3px 0 0 0 ;
}

.td-info {
  font-size: 85%;
}

.gw {
  position: relative;
}

.gw p {
  position: absolute;
  top: 35px;
  left: 70px;
}

.gw-img {
  height: 45px;
  width: auto;
  border-radius: 50%;
}

.content-3 {
  width: 30%;
  height: 660px;
  display: inline-block;
  margin: -2px 0 -2px -30px;
  display: flex;
  flex-direction: column;
}

.social-media-btns {
  margin: 40px 25px 0px 25px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.fb-btn p ,
.twitter-btn p,
.linkedin-btn p {
  display: inline-block;
}

.fb-btn {
  background-color: #3b5998;
  border: none;
  color: #fff;
  height: 35px;
  margin-bottom: 15px;
  width: 250px;
  border-radius: 3px;
}

.twitter-btn {
  background-color: #1da1f2;
  border: none;
  color: #fff;
  height: 35px;
  margin-bottom: 15px;
  width: 250px;
  border-radius: 3px;
}

.linkedin-btn {
  background-color: #0077b5;
  border: none;
  color: #fff;
  height: 35px;
  width: 250px;
  border-radius: 3px;
}

.icon-facebook,
.icon-twitter,
.linked-in-icon {
  float: left;
  margin-left: 15px;
}

.linked-in-icon {
  height: 12px;
  width: auto;
}

.fb-text {
  margin-left: -20px;
}

.twitter-text {
  margin-left: -27px;
}

.linkedin-text {
  margin-left: -26px;
}

.job-section {
  margin: 22px 30px 10px 30px;
  border-bottom: 1px solid grey;
  width: 250px;
}

.td-topic {
  width: 150px;
  letter-spacing: 0.6px;
}

.widget-section {
  margin: 10px 30px 10px 30px;
  border-bottom: 1px solid grey;
  width: 250px;
}

.email-section {
  margin: 10px 30px 5px 30px;
  width: 250px;
}

.icon-globe,
.icon-button-widget,
.icon-paper-plane {
  display: inline-block;
  color: #5b5e5e;
  margin-right: 5px;
  font-size: 90%;
  margin-left: 2.5px;
}

.aside-title {
  display: inline-block;
  color: #5b5e5e;
  font-size: 90%;
}

.aside-text {
  color: grey;
  font-size: 75%;
  margin: 10px 0 10px 0;
  margin-left: 2.5px;
}

.aside-input {
  height: 35px;
  width: 200px;
  font-size: 80%;
  margin-bottom: 20px;
}

.aside-input::placeholder {
  padding-left: 5px;
}

.aside-input:last-child {
  width: 250px;
}

.aside-copy-btn {
  height: 35px;
  background-color: #4eb8bf;
  border: 1px solid #eff4f7;
  width: 50px;
  margin-left: -5px;
  border-radius: 0 3px 3px 0;
  color: #fff;
}

.aside-copy-btn:hover {
  background-color: #3B8A8F;
}

/*===DASHBOARD BOTTOM===*/

@media (max-width: 1120px) {
  .aside-input {
    width: 170px;
  }

  .aside-input:last-child {
    width: 215px;
  }

  .fb-btn,
  .twitter-btn,
  .linkedin-btn {
    width: 220px;
  }

  .circle-graph {
    justify-content: center;
  }
  .circle-graph-1,
  .circle-graph-2,
  .circle-graph-3 {
    width: 120px;
    height: 120px;
  }

  .bar-graph {
    margin: 20px 0 20px 0;
    height: 125px;
    width: 325px;
  }

}

@media(max-width: 1000px) {

  main {
    width: 80vw;
  }

  .main-nav-container {
    width: 20vw;
  }

  .search-bar-nav {
    height: 62px;
    width: 80vw;
  }

  .name,
  .main-menu,
  .admin-menu,
  .categories-menu {
    width: 20vw;
  }

  .categories-menu {
    height: 992px;
  }

  .right-search-nav {
    height: 62px;
  }

  .search-calendar,
  .search-options,
  .search-hamburger,
  .search-profile {
    height: 62px;
    width: 6vw;
    display: inline-block;
    margin: 0 0 -2px 0;
  }

  .search-input {
    height: 62px;
  }

  .icon-hamburger,
  .icon-search,
  .icon-user,
  .big-calendar,
  .icon-sweden {
    font-size: 24px;
    height: 62px;
    width: 6vw;
  }

  .dashboard-top {
    height: 209px;
    width: 80vw;
  }

  .dashboard-menu {
    display: flex;
    flex-direction: row;
  }

  #interview,
  #activity,
  #broadcast,
  #notification {
    display: none;
  }

  .circle-graph-section {
    height: 225px;
    margin-bottom: -20px;
  }

  .circle-graph {
    margin-top: -20px;
    justify-content: center;
    margin-bottom: 0;
    height: 120px;
  }

  .circle-graph-1,
  .circle-graph-2,
  .circle-graph-3 {
    width: 100px;
    height: 100px;
  }

  .circle-graph-btn {
    margin-top: 15px;
  }

  .divider {
    margin-top: 5px;
  }

  .more-nav {
    display: flex;
    width: 50px;
    flex-direction: row;
  }

  .content-1 {
    height: 500px;
    width: 80vw;
    display: flex;
    flex-direction: column;
  }

  .home-btn {
    margin-right: 30px;
  }

  .dashboard-menu {
    margin-top: 20px;
  }

  .dashboard-title-container {
    margin-top: 30px;
  }

  .dashboard-title {
    font-size: 100%;
  }

  .circle-graph-section,
  .bar-graph-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bar-graph-section {
    height: 240px;
  }

  .content-bottom {
    display: flex;
    flex-direction: row;
    height: 900px;
    width: 80vw;
    background-color: #eff4f7;
  }

  .content-2,
  .content-3 {
    width: 80vw;
  }

  .content-2 {
    height: 655px;
  }

  .job-table {
    width: 90%;
  }

  .content-3 {
    height: 225px;
    flex-direction: row;
    width: 90%;
    align-content: space-around;
    align-content: space-around;
  }

  .job-section,
  .widget-section,
  .email-section {
    width: 165px;
    margin-top: 0;
  }

  .job-section {
    margin-left: 10px;
  }

  .social-media-btns {
    align-items: center;
    width: 55px;
    margin-right: 20px;
    padding-left: 0;
    margin-top: 0;
  }

  .fb-text,
  .twitter-text,
  .linkedin-text {
    visibility: hidden;
  }

  .fb-btn,
  .twitter-btn,
  .linkedin-btn {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-facebook {
    margin-left: 25px;
  }

  .aside-input {
    width: 115px;
    margin-bottom: 10px;
  }

  .aside-input:last-child {
    width: 115px;
    margin-right: 20px;
  }

  .aside-copy-btn {
    margin-left: -5px;
  }

  .job-section {
    margin: 0px 5px 10px 0px;
    border-bottom: none;
    width: 200px;
  }

  .td-topic {
    width: 150px;
    letter-spacing: 0.6px;
  }

  .widget-section {
    margin: 0px 5px 10px 0px;
    border-bottom: none;
    width: 200px;
  }

  .email-section {
    margin: 0px 0px 10px 0px;
    width: 180px;
  }

  .hide-use-the {
    display: none;
  }

  .hide-by-email {
    display: none;
  }

}

@media(max-width: 820px) {

  .main-nav-container {
    display: none;
  }

  main {
    width: 100vw;
  }

  .search-bar-nav,
  .left-search-nav,
  .right-search-nav {
    height: 40px;
    border-bottom: 1px solid #d4d8d8;
  }


  .search-input {
    width: 78vw;
    height: 40px;
    font-size: 14px;
  }

  .search-calendar,
  .search-options,
  .search-hamburger,
  .search-profile {
    height: 40px;
    width: 5.5vw;
  }

  .icon-hamburger,
  .icon-search,
  .icon-user,
  .big-calendar,
  .icon-sweden {
    font-size: 20px;
    height: 40px;
    width: 5.5vw;
  }

  .icon-search {
    margin-left: 2px;
    margin-right: 4px;
  }

  .dashboard-top {
    height: 187px;
}

  .dashboard-top,
  .content-1,
  .content-bottom,
  .content-2,
  .content-3 {
    width: 100vw;
  }

  .dashboard-title {
    font-size: 110%;
  }

  .content-3 {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }


}

@media (max-width: 745px) {

  .icon-hamburger,
  .icon-search,
  .icon-user,
  .big-calendar,
  .icon-sweden {
    font-size: 16px;
    height: 40px;
    width: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard-top {
    height: 181px;
  }

  .dashboard-btns {
    display: flex;
  }

  .dashboard-title {
    font-size: 90%;
  }

  .hidden-btn {
    display: inline-block;
    border: 1px solid #929797;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-right: 50px;
  }

  .open-btn,
  .flag-btn,
  .edit-btn,
  .home-btn {
    display: none;
  }

  .content-3 {
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .content-bottom {
    height: 1150px;
  }

  .social-media-btns {
    flex-direction: row;
    width: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 200px;
    margin: 20px 0 20px 0;
  }

  .fb-btn,
  .twitter-btn {
    margin-bottom: 0;
  }

  .job-section,
  .widget-section,
  .email-section {
    width: 65%;
    margin: 0;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .job-section {
    margin-top: 20px;
    border-bottom: 1px solid grey;
    padding-top: 5px;
  }

  .widget-section {
      border-bottom: 1px solid grey;
  }

  .aside-input {
    width: 280px;
  }

  .aside-input:last-child {
    width: 325px;
  }

}

@media (max-width: 615px) {

  .job-section,
  .widget-section,
  .email-section {
    width: 85%;
  }

  .social-media-btns {
    width: 50%;
  }

  .search-bar-nav,
  .left-search-nav,
  .right-search-nav {
    height: 30px;
    border-bottom: 1px solid #d4d8d8;
  }

  .search-input {
    height: 30px;
    font-size: 11px;
  }

  .search-calendar,
  .search-options,
  .search-hamburger,
  .search-profile {
    height: 30px;
  }

  .icon-hamburger,
  .icon-search,
  .icon-user,
  .big-calendar,
  .icon-sweden {
    font-size: 14px;
    height: 30px;
  }

}


@media (max-width: 545px) {

  .content-bottom {
    height: 1250px;
  }

  .content-3 {
    height: 510px
  }

  .social-media-btns {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .job-section,
  .widget-section,
  .email-section {
    padding-left: 25px;
  }

}

@media (max-width: 475px) {

  .content-2 {
    height: 700px;
  }

  .job-section,
  .widget-section,
  .email-section {
    width: 90%;
  }

  .social-media-btns {
    width: 70%;
  }

  .paragraph {
    font-size: 75%;
  }
}

@media (max-width: 435px) {
  /*stack circlegraphs*/
  /*SM buttons and form*/
  /*content 2 and 3 heights*/

  .search-bar-nav,
  .left-search-nav,
  .right-search-nav {
    height: 30px;
    border-bottom: 1px solid #d4d8d8;
  }

  .search-input {
    height: 30px;
    font-size: 8px;
  }

  .search-calendar,
  .search-options,
  .search-hamburger,
  .search-profile {
    height: 30px;
  }

  .icon-hamburger,
  .icon-search,
  .icon-user,
  .big-calendar,
  .icon-sweden {
    font-size: 10px;
    height: 30px;
  }

  .dashboard-top {
    height: 175px;
  }

  .dashboard-title-container {
    margin-left: 15px;
  }

  .dashboard-title {
    font-size: 75%;
  }

  .summary {
    margin-left: 25px;
  }

  .hidden-btn {
    margin-right: 10px;
  }

  .icon-etc {
    width: 25px;
    height: 25px;
  }

  .search-text {
    margin-left: 2px;
  }

  .job-board {
    display: none;
  }

  .content-1 {
    display: flex;
    flex-direction: row;
    height: 800px;
  }

  .circle-graph-section {
    height: 430px;
  }

  .circle-graph {
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
  }

  .circle-graph-2,
  .circle-graph-3,
  .circle-graph-1 {
    margin: 10px 0 10px 0;
    padding: 0;
  }

  .bar-graph {
    margin-top: 0;
  }

  .content-bottom {
    height: 1225px;
  }

  .table-container {
    height: 400px;
  }

  .content-3 {
    margin-top: -100px;
  }

  .job-table {
    width: 95%;
  }

  .td-topic {
    width: 35%;
    font-size: 60%;
  }

  .td-info {
    font-size: 60%;
  }

  .td-edit-btn-icon,
  .td-edit-btn-text {
    font-size: 95%;
  }

  .job-section {
    padding-top: 10px;
  }

  .social-media-btns {
    padding-left: 5px;
  }

  .aside-input {
    width: 220px;
  }

  .aside-input:last-child {
    width: 265px;
  }

  .aside-title {
    font-size: 90%;
  }

  .aside-text {
    font-size: 60%;
  }
  /*.aside-copy-btn {
    margin-left: 0;
  }*/
}
/*smallest: 320px*/
