* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

/*===MAIN NAV===*/
.main-nav-container {
  height: 195vh;
  width: 15vw;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
  float: left;
  display: inline-block;
}

.main-nav-box {
  height: 25%;
  border: 1px solid magenta;
  display: block;
}

.name {
  height: 30vh;
  width: 15vw;
}

.main-menu {
  height: 40vh;
  width: 15vw;
}

.admin-menu {
  height: 40vh;
  width: 15vw;
}
.categories-menu {
  height: 80vh;
  width: 15vw;
}

/*===MAIN==*/

main {
  float: right;
  display: inline-block;
  width: 85vw;
}

/*===SEARCH BAR NAV===*/

.search-bar-nav {
  border: 1px solid orange;
  height: 15vh;
  display: inline-block;
  margin: -2px 0 -2px 0;
  width: 85vw;
  display: flex;
  flex-direction: row;
}

.left-search-nav {
  float: left;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.search-hamburger {
  background-color: green;
}

.search-input {
  height: 15vh;
  width: 56vw;
  background-color: pink;
  display: inline-block;
  /*margin: -2px -2px -2px -2px;*/
}

.right-search-nav {
  border: 1px solid black;
  height: 15vh;
  width: 22vw;
  float: right;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

.search-profile {
  background-color: blue;
}

.search-calendar {
  background-color: red;
}

.search-calendar,
.search-options,
.search-hamburger,
.search-profile {
  height: 15vh;
  width: 7.5vw;
  display: inline-block;
  margin: 0 0 -2px 0;
}

.search-options {
  background-color: yellow;
}

/*===DASHBOARD TOP===*/
.dashboard-top {
  border: 1px solid green;
  height: 35vh;
  width: 85vw;
  display: inline-block;
  margin: 0 0 -2px 0;
  /*display: flex;
  align-content: space-between;*/
}

.upper-dashboard-top {
  border: 1px solid turquoise;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-title-container {
  border: 1px solid red;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  margin-top: 25px;
  display: inline-block;
  margin-left: 30px;
}

.dashboard-location {
  font-size: 12px;
}

.dashboard-preview {
  color: turquoise;
  font-size: 12px;
}

.dashboard-btns {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.open-btn,
.flag-btn,
.edit-btn,
.home-btn {
  border: 1px solid orange;
  height: 30px;
  margin: 4px;
  margin-top: 40px;
}

.open-btn {
  width: 100px;
}

.flag-btn,
.edit-btn,
.home-btn {
  width: 40px;
}

.home-btn {
  margin-right: 75px;
}


.dashboard-menu {
  border: 1px solid red;
  padding-top: 30px;
}

li {
  display: inline-block;
  padding-right: 15px;
  margin-left: 30px;
}

.nav1 {
  padding-left: 5px;
}

/*===DASHBOARD BOTTOM===*/
.content-1 {
  border: 1px solid orange;
  height: 45vh;
  width: 85vw;
  display: inline-block;
  margin: -2px 0 -2px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.circle-graph-section,
.bar-graph-section {
  display: flex;
  flex-direction: column;
}

.circle-graph {
  border: 1px solid blue;
  margin: 30px;
}

.circle-graph-btn,
.bar-graph-btn {
  height: 20px;
  width: 50px;
}

.bar-graph {
  border: 1px solid blue;
  margin: 30px;
}

.content-bottom {
  border: 1px solid blue;
  width: 85vw;
  height: 108vh;
  display: inline-block;
  margin: -2px 0 -2px 0;
  display: flex;
  flex-wrap: wrap;
}

.content-2 {
  border: 1px solid pink;
  width: 70%;
  height: 108vh;
  display: inline-block;
  margin: -2px 0 -2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-table {
  border: 1px solid orange;
  /*margin: 25px;*/
  width: 90%;
}

td, th {
  border: 1px solid maroon;
  padding: 20px 5px 20px 5px;
}

.content-3 {
  border: 1px solid purple;
  width: 30%;
  height: 108vh;
  display: inline-block;
  margin: -2px 0 -2px 0;
  display: flex;
  flex-direction: column;
}

.social-media-btns {
  border: 1px solid blue;
  margin: 10px;
  padding: 5px;
  height: 200px;
}

.job-section {
  border: 1px solid blue;
  margin: 10px;
  padding: 5px;
  height: 200px;
}

.td-topic {
  width: 150px;
}

.widget-section {
  border: 1px solid blue;
  margin: 10px;
  padding: 5px;
  height: 200px;
}

.email-section {
  border: 1px solid blue;
  margin: 10px;
  padding: 5px;
  height: 200px;
}

/*===DASHBOARD BOTTOM===*/

@media(max-width: 1000px) {

  main {
    width: 80vw;
  }

  .main-nav-container {
    width: 20vw;
  }

  .search-bar-nav {
    height: 10vh;
    width: 80vw;
  }

  .name,
  .main-menu,
  .admin-menu,
  .categories-menu {
    width: 20vw;
  }

  .right-search-nav {
    height: 10vh;
  }

  .search-calendar,
  .search-options,
  .search-hamburger,
  .search-profile {
    height: 10vh;
    width: 6vw;
    display: inline-block;
    margin: 0 0 -2px 0;
  }

  .search-input {
    height: 10vh;
  }

  .dashboard-top {
    height: 28vh;
    width: 80vw;
  }

  .content-1 {
    height: 80vh;
    width: 80vw;
    flex-direction: column;
  }

  .home-btn {
    margin-right: 30px;
  }

  .dashboard-menu {
    margin-top: 20px;
  }

  .circle-graph-section,
  .bar-graph-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-bottom {
    display: flex;
    flex-direction: row;
    height: 140vh;
    width: 80vw;
  }

  .content-2,
  .content-3 {
    width: 80vw;
  }

  .content-2 {
    height: 110vh;
  }

  .job-table {
    width: 90%;
  }

  .content-3 {
    height: 50vh;
    flex-direction: row;
  }

  .social-media-btns,
  .job-section,
  .widget-section,
  .email-section {
    width: 160px;
  }
}

@media(max-width: 820px) {

  .main-nav-container {
    display: none;
  }

  main {
    width: 100vw;
  }

  .dashboard-top,
  .content-1,
  .content-bottom,
  .content-2,
  .content-3 {
    width: 100vw;
  }

}
